@media (min-width: 769px) and (max-width: 1200px) {
    .container {
        width: 769px;
        margin: 0 auto;
    }

    .window {
        padding-top: 60px;
        padding-bottom:40px;
    }

    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 16px;
    }
    
    p, li {
        font-size: 11px;
    }

    button {
        height: 50px;
        font-size: 16px;
    }

    input {
        width: 200px;
    }
    

    .top-header span {
        font-size: 16px;
    }
    
    .top-header .flex .left p {
        font-size: 10px;
    }

    .top-header .flex .left img{
        width: 50px;
    }

    .top-header .flex .left .text {
        margin-top: 0;
    }

    .top-header .flex .right {
        margin-top: 0;
    }
    .top-header nav a {
        font-size: 14px;
    }

    .bot-header {
        height: 450px;
        background-position: center center;
    }

    .bot-header span {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .bot-header .container {
        padding-top: 100px;
    }

    .bot-header button {
        width: 220px;
        margin-bottom: 70px;
    }

    .window_1-k .flex img{
        width: 300px;
    }

    .window_3 .grid {
        gap: 15px;
    }

    .window_5 .grid img{
        width: 400px;
    }

    .window_5 .bot span {
        font-size: 14px;
        font-weight: 500;
        color: #556063;
    }

    .window_6 img {
        width: 400px;
    }

    .window_7 img {
        width: 400px;
    }

    .window_8 img {
        width: 380px;
    }

    .window_8 .flex h2 {
        font-size: 30px;
    }

    .window_8 span {
        font-size: 30px;
    }

    .window_8 .flex-1 {
        margin-top: 20px;
    }

    .window_8 .flex-1 p {
        font-size: 14px;
    }
    
    .window_8 .flex-1 span {
        font-size: 22px;
    }

    .window_8 .flex-1 button {
        width: 200px;
    }

    .window_9 .grid{
        gap: 20px;
    }

    .window_9 .grid .card img{
        width: 250px;
    }

    .window_12 .grid img {
        width: 400px;
    }

    .window_12 .flex {
        margin-top: 30px;
    }

    .window_13 .grid{
        gap: 20px;
    }

    .window_13 .grid .card {
        height: 200px;
    }

    .window_13 .grid .card img {
        display: none;
    }

    .window_14 .list {
        width: 769px;
    }

    .window_14 .list .li span {
        font-size: 14px;
    }

    .window_16 {
        height: 200px;
    }

    footer .top-foot {
        padding: 30px 0;
    }
    
    footer .top-foot .fon {
        width: 400px;
    }

    footer .top-foot .fon h2 {
        font-size: 20px;
    }
    
    footer .top-foot .text {
        margin-bottom: 20px;
    }
    
    footer .top-foot .text span {
        font-size: 16px;
    } 
}

@media (min-width: 320px) and (max-width: 769px){ 
    .fl::before {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }

    .container{
        width: 320px;
    }
    .window {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    h1 {
        font-size: 20px;
    }
    
    h2 {
        font-size: 14px;
    }
    
    .h2 {
        text-align: center;
        margin-bottom: 12px;
    }
    
    h3 {
        font-size: 8px;
    }
    
    p, li {
        font-size: 6px;
    }

    button {
        font-size: 8px;
        height: 30px;
    }

    input {
        width: 100%;
        height: 30px;
        padding: 10px;
        font-size: 10px;
    }

    .flex-btn {
        display: none;
    }
    
    .ul {
        padding-left: 5px;
    }

    .top-header .flex{
        padding: 0;
    }

    .top-header span {
        font-size: 8px;
    }
    
    .top-header .flex .left p {
        font-size: 5px;
    }

    .top-header .flex .left img{
        margin-top: 3px;
        width: 32px;
    }

    .top-header .flex .left .text {
        margin-top: 0;
    }

    .top-header .flex .right {
        display: none;
    }
    .top-header nav{
        display: none;
    }

    .bot-header {
        height: 160px;
        background-position: center center;
    }

    .bot-header span {
        font-size: 8px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .bot-header .container {
        padding-top: 30px;
    }

    .bot-header button {
        width: 150px;
        margin-bottom: 0px;
    }

    .window_1-k .flex {
        margin-bottom: 20px;
    }

    .window_1-k .flex img{
        display: none;
    }

    .window_1-k .flex .text{
        margin: 0px;
    }

    .window_2 .grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }


    .window_2 h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .window_2 .grid img {
        width: 30px;
    }

    .window_3 .grid {
        display: block;
    }

    .window_3 span {
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    .window_3 .grid .card {
        padding: 15px;
        margin-bottom: 8px;
    }

    .window_3 .grid .card:last-of-type {
        margin-bottom: 0px;
    }

    .window_4 .grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
    }

    .window_4 .grid .card {
        padding: 20px;
    }

    .window_4 .grid li {
        margin-bottom: 5px;
    }

    .window_4 .grid li div:nth-child(2) {
        height: 3px;
    }

    .window_5 .flex {
        width: 320px;
        margin-bottom: 20px;
    }

    .window_5 .flex button {
        font-size: 8px;
        height: 34px;
        padding: 0px 10px;
    }
    
    .window_5 .grid img{
        width: 180px;
    }

    .window_5 .grid{
        gap: 8px;
    }
    
    .window_5 .grid h3 {
        margin-bottom: 5px;
    }

    .window_5 .bot span {
        font-size: 8px;
    }

    .window_5 .bot {
        width: 100%;
        margin-top: 10px;
        padding: 8px;
    }

    .window_6 .grid {
        gap: 8px;
    }

    .window_6 .grid img{
        width: 160px;
    }

    .window_7 .grid {
        gap: 8px;
    }

    .window_7 h2 {
        margin-bottom: 5px;
    }

    .window_7 .grid img{
        width: 160px;
    }

    .window_8 .flex h2 {
        font-size: 14px;
    }
    
    .window_8 span {
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .window_8 .grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
    }

    .window_8 .grid img{
        display: none;
    }

    .window_8 .flex-1 {
        margin-top: 5px;
    }
    
    .window_8 .flex-1 p {
        font-size: 8px;
    }
    
    .window_8 .flex-1 span {
        font-size: 10px;
        margin-top: 5px;
    }
    
    .window_8 .flex-1 button {
        width: 100px;
    }

    .window_9 .flex {
        margin-bottom: 10px;
    }

    .window_9 .grid{
        gap: 5px;
    }

    .window_9 .grid .card img{
        width: 100px;
    }

    .window_9 .grid .card h3 {
        font-size: 7px;
    }
    
    .window_9 .grid .card .text{
        height: 80px;
        padding: 4px;
    }
    
    .window_9 .grid .card .text .cen {
        margin-top: auto;
        margin-bottom: 5px;
    }
    
    .window_9 .grid .card .text .cen span {
        font-size: 8px;

    }
    
    .window_9 .grid .card .text .cen .old {
        font-size: 6px;
    }
    
    .window_10 p {
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .window_10 button {
        width: 150px;
    }

    .window_12 .grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
    }

    .window_12 .grid img {
        display: none;
    }

    .window_12 h3:last-of-type {
        margin-top: 5px;
    }

    .window_12 .grid li div:nth-child(2) {
        height: 3px;
    }

    .window_12 .flex {
        margin-top: 20px;
    }

    .window_13 .grid{
        gap: 12px;
    }

    .window_13 .grid .card {
        padding: 15px;
        height: 100px;
    }

    .window_13 .grid .card .text {
        width: 100%;
    }

    .window_13 .grid .card img {
        display: none;
    }
    .window_13 .grid .card .text h3 {
        margin-bottom: 5px;
    }
    
    .window_13 .grid .card .text p {
        font-size: 7px;
    }

    .window_14 .list {
        width: 320px;
    }

    .window_14 .list .item {
        margin-bottom: 8px;
        padding: 10px 10px 11px 30px;
    }

    .window_14 .list .li span {
        font-size: 8px;
    }

    .window_14 .list .item .li img{
        width: 14px;
    }

    .window_14 .list .item:last-of-type {
        margin-bottom: 20px;
    }

    .window_14 .list .text {
        margin-top: 10px;
    }

    .window_2-k .grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    
    .window_2-k .grid .card .flex {
        display: flex;
        justify-content: space-between;
    }
    
    .window_2-k .grid .card .flex span{
        font-size: 20px;
        color: #57ADE4;
        font-weight: 700;
    }
    
    .window_2-k .grid .card .flex div {
        width: 100%;
        height: 18px;
        margin-left: 10px;
        border-bottom: 1px solid #556063;
    }
    
    .window_2-k .grid .card h3 {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .window_2-k .grid .card button {
        width: 100%;
        margin-top: 20px;
    }

    .window_16 {
        display: none;
    }

    .window_18 input {
        margin-top: 20px;
        margin-right: 0;
    }

    .window_18 input:first-of-type {
        margin-top: 10px;
    }

    .window_18 button {
        width: 100%;
        margin-top: 20px;
    }

    footer .top-foot {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    footer .top-foot .fon {
        width: 200px;
        padding: 15px;
    }

    footer .top-foot .fon h2 {
        font-size: 14px;
    }
    
    footer .top-foot .text {
        margin-bottom: 5px;
    }
    
    footer .top-foot .text span {
        font-size: 10px;
    }

    footer .top-foot .text p {
        margin-bottom: 5px;
    }

    footer .top-foot .wa {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
        background-position: center center;
    }

    footer .bot-foot {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #05161F;
    }

    footer .bot-foot .container p:last-of-type::after {
        content: "GRAMPUS";
        display: inline;
        background: none;
        margin-left: 5px;
    }
    
    .window-hidden {
        padding: 15px;
        width: 300px;
    }
    
    .window-hidden h2 {
        font-size: 14px;
    }
    
    .window-hidden .h2 {
        margin-bottom: 10px;
    }
    
    
    .window-hidden form input {
        margin-bottom: 10px;
    }
    
    .window-hidden form input:last-of-type { 
        margin-bottom: 10px;
    }

}